@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  src: url('../assets/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  src: url('../assets/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  src: url('../assets/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  src: url('../assets/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  src: url('../assets/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
} */

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
  src:
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
      format('truetype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src:
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf)
      format('truetype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
  src:
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf)
      format('truetype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
  src:
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf)
      format('truetype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
  src:
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix)
      format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff)
      format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf)
      format('truetype');
}

* {
  font-family: 'NanumSquareNeo', sans-serif;
}

@layer utilities {
  .border-gradient {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e0e1e2 0%, #e0e1e2 50%, #e0e1e2 100%);
    border-image-slice: 1;
  }

  .table-dashboard {
    @apply rounded-xl bg-white px-7 pt-6 pb-3 shadow-dash-board;
  }

  .primary-dashboard {
    @apply rounded-xl bg-white px-7 py-[20px] shadow-dash-board;
  }

  .sub-dashboard {
    @apply rounded-lg bg-white pt-6 px-6 shadow-dash-sub;
  }

  .up-dashboard {
    @apply rounded-lg bg-white p-6 shadow-dash_up;
  }
}

/* 스크롤바 커스텀 스타일 */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #c7ccd0;
  border-radius: 30px;
}

/* 풀캘린더 대시보드 */
.fc .fc-button-primary {
  background-color: #ffffff;
  border-color: #e2e8f0;
  color: #4a5568;
}

.fc .fc-button-primary:hover {
  background-color: #edf2f7;
  border-color: #cbd5e0;
  color: #2d3748;
}

.fc .fc-button-primary:disabled {
  background-color: #edf2f7;
  border-color: #e2e8f0;
  color: #a0aec0;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #e2e8f0;
  border-color: #cbd5e0;
  color: #2d3748;
}

.fc .fc-prev-button::before,
.fc .fc-next-button::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fc .fc-prev-button::before {
  content: '\f104'; /* FontAwesome chevron-left icon */
}

.fc .fc-next-button::before {
  content: '\f105'; /* FontAwesome chevron-right icon */
}

.fc .fc-button .fc-icon {
  font-size: 1.2em;
}

.fc .fc-toolbar-title {
  font-size: 1.25em;
  color: #2d3748;
}

/* Hide default button text */
.fc .fc-prev-button span,
.fc .fc-next-button span {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}
