@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  src: url('../assets/fonts/NanumSquareNeo-aLt.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  src: url('../assets/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  src: url('../assets/fonts/NanumSquareNeo-cBd.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  src: url('../assets/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  src: url('../assets/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
}

* {
  font-family: 'NanumSquareNeo', sans-serif;
}

#root {
  height: 100dvh;
  width: 100vw;
}

@layer utilities {
  .border-gradient {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e0e1e2 0%, #e0e1e2 50%, #e0e1e2 100%);
    border-image-slice: 1;
  }

  .primary-dashboard {
    @apply rounded-xl bg-white p-6 shadow-dash-board;
  }

  .sub-dashboard {
    @apply rounded-lg bg-white p-6 shadow-dash-sub;
  }
}
